.events-item {
  display: flex;
  height: 213px;
  flex-direction: column;
  /* align-items: stretch; */
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #57a459;
  font-size: 17px;
  font-weight: 500;
}

.event-footer {
  display: flex;
  flex-direction: row;
  padding: 0.8vw;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #4f005f;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: "2rem 0 0 2rem";
}

.actions {
  padding: "0 0 1rem 0";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
