@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap");

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #68cbe9;
  --custom-panel-color: rgba(253, 211, 120, 0.8);
  --custom-box-shadow: 0 2px 8px 0 rgba(253, 211, 120, 0.8);
  --custom-color: rgb(209, 30, 90);
  --custom-color-brand: #75ffcc;
  --custom-color-secondary: rgb(41, 33, 33);
  --custom-border: 2px solid rgb(36, 35, 35);
  --custom-border-radius: 200px;
  --custom-spacing: 5px;
  padding: 0;
  margin: 0;
  height: 100%;
  /* to be used for colour gradient background:*/
  background: linear-gradient(rgba(195, 255, 253, 1), transparent);
  background-color: rgb(255, 222, 222);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--custom-font-family);
}

.footer{
  width:100%;
  height:5%; 
  position:fixed;
  bottom:0;
  left:0;
  padding: 0.6%;
  padding-left: 1%;
  background-color: green;
}

.welcome {
  font-family: arial;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(237, 73, 193);
  background: linear-gradient(rgba(87, 225, 233, 0.5), transparent);
  background-color: #bced91;
  /*this your primary color*/
  border: 5px solid rgb(14, 12, 12);
  padding: 1rem;
  border-radius: 120px;
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.welcome-outer {
  display: flex;
  justify-content: center;
}

.button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: rgb(255, 241, 197);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: default;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: none;
}

.roundButton {
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255, 206, 107, 0.881);
}

.button1 {
  background-color: rgb(255, 200, 97); /* Green */
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
}

/* for the other information button that are side-by-side */

.button2 {
  background-color: rgb(255, 255, 152);
  width: 90%;
  margin-left: 0px; /*A positive value shifts the button right */
  margin:  10px;
  padding: 5px 16px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button3 {
  background-color: rgb(255, 255, 152);
  width: 20%;
  margin-left: 10px; 
  margin: 5px;
  padding: 5px 16px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.button4 {
  background-color: rgb(255, 255, 152);
  width: 100%;
  margin-left: 0px; /*A positive value shifts the button right */
  margin:  0px;
  padding: 5px 16px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button1:hover {
  background-color: #faebd7;
}

.button2:hover {
  background-color: #faebd7;
}

.button3:hover {
  background-color:  #faebd7;
}

.button4:hover {
  background-color:  #faebd7;
}

/* Grid */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}
.col-1-sm {
  width: 4.33%;
}
.col-2-sm {
  width: 12.66%;
}
.col-3-sm {
  width: 21%;
}
.col-4-sm {
  width: 29.33%;
}
.col-5-sm {
  width: 37.66%;
}
.col-6-sm {
  width: 46%;
}
.col-7-sm {
  width: 54.33%;
}
.col-8-sm {
  width: 62.66%;
}
.col-9-sm {
  width: 71%;
}
.col-10-sm {
  width: 79.33%;
}
.col-11-sm {
  width: 87.66%;
}
.col-12-sm {
  width: 96%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

.corner {
  margin-left: 1170px;
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 80%;
    max-width: 60rem;
  }
}

/*Widget -- didnt include everything yet*/

.form-widget {
  display: block;
  flex-direction: row;
  gap: 0px;
}

.form-widget > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #3c0404;
  text-transform: none !important;
  transition: all 0.2s ease;
}

.form-widget .button:hover {
  background-color: rgba(253, 211, 120, 0.8);
}

.form-widget .button > .loader {
  width: 17px;
  animation: spin 1s linear infinite;
  filter: invert(1);
}

.auth-centralise-text {
  margin: 8px;
}

.auth-email-formatting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 22px;
  border: 2px solid transparent;
  border-radius: 17px;
  background-color: #d3d6da;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 75px;
  width: 450px;
}

.auth-formatting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centerimage {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 25%;
}

.clickicons {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20%;
}

/*
input[type="text"] {
  margin: 10px 0px;
  height: 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  color: #1e1e1e;
  font: 400 1rem "proxima-nova", sans-serif;
  width: 70%;
  border: 1px solid #dee0e0;
  padding: 0 10px;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
*/

input[type="boolean"] {
  margin: 10px 0px;
  height: 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #1e1e1e;
  font: 400 1rem "proxima-nova", sans-serif;
  width: 20%;
  border: 1px solid #dee0e0;
  padding: 0 10px;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 95vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  bottom: -40px;
  width: 30%;
  margin: 0 auto;
  height: 34%;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(34.5% - 30px);
  top: calc(105.5vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.formatTable {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formatTablePopup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: up;
}

table {
  border: 2px solid forestgreen;
  width: 400px;
  height: 200px;
}

.table1{
  border: 2px solid orange;
  width: 400px;
  height: 100%;
}

th {
  border-bottom: 2px solid black;
}

td {
  text-align: center;
}

.event-button {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #ce64ff;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 12px;
}

.loading {
  font-weight: bold;
  display:inline-block;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l 3s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}

.buttonTeleLink {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: yellow;
  color: #333333;
  cursor: pointer;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
