@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

.title {
  font-size: 30px;
  color: gold;
}

.clickableText {
  font-size: 30px;
  color: gold;
  cursor: pointer;
}

.pointSystem {
  height: 50px;
  width: 20%;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px;
  cursor: pointer;
}

.expandButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  background: none;
}

.child {
  float: left;
  width: 25%;
  background: none;
  text-align: center;
}

.otherchild {
  float: left;
  width: 33%;
  background: none;
  text-align: center;
}

.halfchild {
  float: left;
  width: 50%;
  background: none;
  text-align: center;
}

.left {
  width: 33%;
  text-align: center;
}

.middle {
  width: 33%;
  text-align: center;
}

.right {
  width: 33%;
  text-align: center;
}

.myToolbar {
  justify-content: space-between;
}

.active {
  height: 200px;
}

#gen {
  background-color: #4361ee;
  color: white;
}
#down {
  background-color: #eb3349;
  color: white;
}
.avatar {
  align-items: center;
  justify-content: center;
  /* height: 60%;
  width: 60%;
  max-width: 40%;
  max-height: 60%; */
  /* margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 2%; */
}
.btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home {
  box-sizing: border-box;
  height: 94vh;
  width: 100%;
  gap: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  height: 25vh;
  width: 100%;
  background-color: #313442;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Fantasy;
  font-size: 25px;
}
