.App {
  font-family: sans-serif;
  text-align: center;
}

.title {
  font-size: 30px;
  color: gold ;
}

.pointSystem{
  height: 200px;
  width: 20%;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px;
}
